{% extends 'base.html.twig' %}

{% block body %}
    <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
        .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
        .tg .tg-yw4l{vertical-align:top}
    </style>
    <h1>Classements du mois précédent - Commerciaux</h1>

    <table class="tg">
        <thead>
            <tr>
                <th class="tg-yw4l">Commercial</th>
                <th class="tg-yw4l">Agence</th>
                <th class="tg-yw4l">Contrats</th>
                <th class="tg-yw4l">Chiffre d'affaires</th>

            </tr>
        </thead>
        <tbody>
            {% for contrat in contrats %}
                <tr>
                    <td>{{ contrat.nom }}</td>
                    <td>{{ contrat.agence }}</td>
                    <td>{{ contrat.tot_contrats }}</td>
                    <td>{{ contrat.chiffre_affaire }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Classements du mois précédent - Agence</h1>

    <table class="tg">
        <thead>
            <tr>
                <th class="tg-yw4l">Agence</th>
                <th class="tg-yw4l">Contrats</th>
                <th class="tg-yw4l">Chiffre d'affaires</th>

            </tr>
        </thead>
        <tbody>
            {% for contrat in contrats_agency %}
                <tr>
                    <td>{{ contrat.agence }}</td>
                    <td>{{ contrat.tot_contrats }}</td>
                    <td>{{ contrat.chiffre_affaire }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
