{% extends 'base.html.twig' %}

{% block body %}
    <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
        .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
        .tg .tg-yw4l{vertical-align:top}
    </style>
    <h1>Commerciauxes list</h1>

    <table class="tg">
        <thead>
            <tr>
                <th class="tg-yw4l">Id</th>
                <th class="tg-yw4l">Nom</th>
                <th class="tg-yw4l">Agence</th>
                <th class="tg-yw4l">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commerciaux in commerciauxes %}
            <tr>
                <td><a href="{{ path('commerciaux_show', { 'id': commerciaux.id }) }}">{{ commerciaux.id }}</a></td>
                <td>{{ commerciaux.nom }}</td>
                <td>{{ commerciaux.agence }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('commerciaux_show', { 'id': commerciaux.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('commerciaux_edit', { 'id': commerciaux.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commerciaux_new') }}">Create a new commerciaux</a>
        </li>
    </ul>
{% endblock %}
